$logo-color: #414141;
$text-color: #080404;
$footer-background: #f8f4f4;
$box-shadow: #999999;
$disabled-first: #6e6e6e;
$disabled-second: #525252;
$second-text-color: #fff;
$shadow: rgba(0, 0, 0, 0.651);
$shadow-second: rgba(0, 0, 0, 0.486);
$checkmark-color: #2adf73;
$checkmark-darker-color: #1bb157;
$error: rgb(255, 87, 87);
