// dodac @use colors

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 99px;
	height: 100%;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	width: 100%;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

p,
h1,
h2,
h3 {
	color: #333;
}

// NAV

.nav {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
	background-color: #fff;
	box-shadow: 0 2px 20px #999999;
	font-weight: 300;
	overflow: hidden;
	height: 100%;
	z-index: 10;
	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.5em;
		text-decoration: none;
		right: 20em;
		i {
			color: #414141;
			font-size: 3rem;
			padding-right: 0.3em;
		}
		p {
			color: black;
			font-size: 3.5rem;
		}
	}
	&__item {
		position: relative;
		padding: 3rem;
		font-size: 2rem;
		color: #333;
		text-decoration: none;
		margin: 0.5rem;
		height: 100%;
		z-index: 0;
		transition: background 0.03s;
	}

	&__item:hover {
		color: #fff;
		background-color: #080404;
	}
	&__item::before,
	&__item::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.burger-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}

		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}

		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}

		&__bars,
		&__bars::after,
		&__bars::before {
			position: absolute;
			right: 0;
			height: 3px;
			content: '';
			background-color: #333;
			transition: width 0.3s;
		}

		&__bars {
			width: 100%;

			&::after {
				top: 13px;
				width: 60%;
			}

			&::before {
				top: 27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
}

// HEADER

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 2em;
	height: 50vh;
	text-align: center;
	background-image: url('/dist/img/jungleBig.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;

	&__heading {
		color: #fff;
		font-size: 3.5rem;
	}

	&__text {
		color: #fff;
		font-weight: bold;
		font-size: 3rem;
	}

	&__heading,
	&__text {
		position: relative;
		z-index: 1;
		color: #fff;
	}
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
}
